<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container text-center jumbotron">
      <h1><strong>Mission to Mars</strong></h1>
      <a class="btn btn-large btn-primary" href="/scrape">Scrape New Data</a>
    </div>
    <div>
      <br />
    </div>

    <div class="container mt-2">
      <h3>Latest Mars News</h3>
      <h4>{{mars_data.news_title}}</h4>
      <p>{{mars_data.news_p}}</p>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col-8">
          <h3>Featured Mars Image</h3>
          <img
            class="img-fluid"
            src="{{mars_data.featured_image}}"
            alt="{{mars_data.featured_image}}"
          />
        </div>
        <div class="col">
          <div class="card" style="margin-top: 20px;">
            <div class="card-body">
              <p>{{mars_data.current_weather}}</p>
            </div>
          </div>
          <br />
          {{mars_data.table_html|safe}}
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <h3 class="text-center">Mars Hemispheres</h3>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid"
                src="{{mars_data.hemi_full_image_urls[0].img_url}}"
                alt="{{mars_data.hemi_full_image_urls[0].img_url}}"
              />
              <h4>{{mars_data.hemi_full_image_urls[0].title}}</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid"
                src="{{mars_data.hemi_full_image_urls[1].img_url}}"
                alt="{{mars_data.hemi_full_image_urls[1].img_url}}"
              />
              <h4>{{mars_data.hemi_full_image_urls[1].title}}</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid"
                src="{{mars_data.hemi_full_image_urls[2].img_url}}"
                alt="{{mars_data.hemi_full_image_urls[2].img_url}}"
              />
              <h4>{{mars_data.hemi_full_image_urls[2].title}}</h4>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <img
                class="img-fluid"
                src="{{mars_data.hemi_full_image_urls[3].img_url}}"
                alt="{{mars_data.hemi_full_image_urls[3].img_url}}"
              />
              <h4>{{mars_data.hemi_full_image_urls[3].title}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
